<%- include('../includes/head.ejs') %>

<link rel="stylesheet" href="/styles/dashboard.css" />
</head>

<body>
    <div class="container">
        <nav class="main-nav">
            <div class="brand">
                <i class="fas fa-ticket-alt"></i>
                <p>Logo</p>
            </div>
        <ul class="main-menu">
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="https://github.com/kowalik9412/webSystems">Github</a>
            </li>
        </ul>
        <ul class="add-menu">
            <li>
                <a href="/authentication/logout">Logout</a>
            </li>
        </ul>
        </nav>

        <header class="headerSearch">
            <form action="/user/search" method="POST">
                <%- include('../includes/error.ejs') %>
                <input type="text" id="searchInput" name="searchInput" placeholder="example: Harry Potter and the Deathly Hallows" ">
                <input type="submit" class="btn" value="Search">
            </form>
            <% if (typeof response != 'undefined' && response.length > 0) { %>
            <section class="examples">
                <div class="row">
                    <% for (let responses of response){ %>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="card">
                            <img class="card-img-top" src="<%= responses.Poster %>" alt="<%= responses.Title %>">
                            <div class="card-body">
                                <h5 class="card-title"><%= responses.Title %></h5>
                            </div>
                            <div class="card-body">
                                <a href="/user/search/<%= responses.imdbID %>" class="card-link">Get more information<i class="fas fa-external-link-alt"></i></a>
                            </div>
                        </div>
                    </div>
                    <% } %>
                </div>
            </section>
            <% } if(typeof response == 'undefined') { %>
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <strong>No data!</strong>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            <% } %>
        </header>
    </div>

<%- include('../includes/footer.ejs') %>
